<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Form</title>
</head>
<body>
    <h1>Create New Employee</h1>
    <form th:action="@{/employee}" th:object="${employeeList}" method="post">
        
        <!-- Employee ID -->
        <div>
            <label for="id">Employee ID:</label>
            <input type="text" th:field="*{id}" id="id" placeholder="Enter employee ID" />
        </div>

        <!-- Employee Name -->
        <div>
            <label for="name">Employee Name:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Enter employee name" />
        </div>

        <!-- Employee Salary -->
        <div>
            <label for="salary">Salary:</label>
            <input type="number" th:field="*{salary}" id="salary" placeholder="Enter salary" step="0.01" min="0" />
        </div>


        <!-- Submit Button -->
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
